build:remote --bes_backend=grpcs://cloud.buildbuddy.io
build:remote --bes_results_url=https://app.buildbuddy.io/invocation/
build:remote --remote_cache=grpcs://cloud.buildbuddy.io
build:remote --remote_timeout=3600
