[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.9"

[packages]
jinja2 = "*"

[dev-packages]
autoflake = "*"
isort = {extras = ["pipfile"],version = "*"}
pip-tools = "*"
yapf = "*"
