[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "*"
ansible-lint = "*"
autoflake = "*"
isort = {extras = ["pipfile"],version = "*"}
jinja2 = "*"
yapf = "*"

[requires]
python_version = "3.7"
